# ============================================================
# Fichiers temporaires R et RStudio
# ============================================================

.Rproj.user
.Rhistory
.RData
.Ruserdata


# ============================================================
# Fichiers temporaires Quarto
# ============================================================

.quarto/
**/*.quarto_ipynb


# ============================================================
# Fichiers générés par le rendu Quarto
# ============================================================

*.html
*_files/


# ============================================================
# Sauvegardes locales temporaires
# ============================================================

fonctionnel/
/.quarto/
